:root {
  //   --bg: #0b0f14;
  //   --surface: #121823;
  //   --text: #e9eef7;
  //   --muted: #a8b3c7;
  //   --border: rgba(255, 255, 255, 0.1);

  //   --accent: #7c5cff;
  //   --accent-soft: rgba(124, 92, 255, 0.25);

  // --bg: #2f3e46;
  // --surface: #52796f;
  // --text: #cad2c5;
  // --text-dark: #282a27;
  // --muted: #a2a89e;
  // --border: rgba(255, 255, 255, 0.1);

  // --dark-slate-grey: #354f52;

  // --accent: #84a98c;
  // --accent-soft: rgba(124, 92, 255, 0.25);

  --bg: #01161e;
  --surface: #124559;
  --text: #eff6e0;
  --text-dark: #01161e;
  --muted: #aec3b0;
  --border: rgba(255, 255, 255, 0.1);

  --dark-slate-grey: #354f52;

  --accent: #598392;
  --accent-soft: rgba(124, 92, 255, 0.25);
}

// $ash-grey: #cad2c5ff;
// $muted-teal: #84a98cff;
// $deep-teal: #52796fff;
// $dark-slate-grey: #354f52ff;
// $charcoal-blue: #2f3e46ff;

// Ocean Serenity

// $ink-black: #01161eff;
// $dark-teal: #124559ff;
// $air-force-blue: #598392ff;
// $ash-grey: #aec3b0ff;
// $beige: #eff6e0ff;
